.form {
  min-width: 202px;
  margin: 1.5em 0 0 0;
  background-color: #fff;
  border: 3px solid #673bb7ff;
  border-radius: 6px;
  padding: 1.5em 2em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    position: absolute;
    top: -24px;
    left: 50%;
    content: "";
    background: url("../../../assets/left-to-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 38px;
    height: 9px;
    transform: translateX(-50%) rotate(90deg);
    z-index: 2;
  }

  & .output {
    // border: 3px solid #673bb7ff;
    border-radius: 6px;
    background-color: #673bb7;
    position: absolute;
    top: 0;
    right: -296px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .out-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0.4em 0.6em;
      margin: 0 1em 0.5em 1em;
      border-radius: 3px;
      background-color: #fff;
      border-radius: 3px;

      &:first-child {
        margin-top: 1em;
        &::before {
          position: absolute;
          top: 50%;
          left: -36px;
          content: "";
          background: url("../../../assets/left-to-right.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          width: 36px;
          height: 9px;
          transform: translateY(-50%);
          z-index: 2;
        }
      }

      &:last-child {
        margin-bottom: 1em;
      }

      & p {
        color: #1b1b1eff;
        margin: 0;
        padding: 0;
      }
    }
  }

  & input {
    width: 100%;
  }

  & .form-button {
    cursor: pointer;
    margin: 0.9em 0 0.6em 0;
    padding: 0 1em;
    background-color: #673bb7ff;
    color: #fff;
    border: none;
    border-radius: 3px;

    &:focus {
      outline: 0;
    }
    &:disabled {
      background-color: rgba(0, 0, 0, 0.12);
      cursor: not-allowed;
    }
  }
}
