<div *ngIf="flow" class="form-wrapper">
    <form [formGroup]="myForm" class="form">
        <ng-container *ngFor='let v of flow.process.variables | inputVariables; let last = last;'>

            <work-dynamic-wrapper [schema]="v.schema" [placeholder]="v.meta?.displayName || v.name"
                [controlName]="v.name" [formGr]="myForm" [hint]="v.meta?.description" [authType]="v.meta?.authType"
                [required]="v.required">
            </work-dynamic-wrapper>

            <button *ngIf="last" type="submit" mat-raised-button color="accent" class="form-button"
                (click)="submitForm(myForm)" [disabled]="myForm.invalid">Submit</button>

        </ng-container>

        <div class="output">
            <div class="out-item" *ngFor="let outVar of flow.process.variables | outputVariables;let first = first;">
                <p class="item-name">{{outVar.meta?.displayName || outVar.name}}</p>
            </div>
        </div>

    </form>
</div>