:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5em 0;
}
.not-found {
  width: 300px;
  height: auto;
}

.page-not-found {
  height: 100%;
  position: relative;

  & .not-fount-text {
    color: #96031aff;
    position: absolute;
    top: 88px;
    left: 35px;
  }
}
