:host {
  width: 100%;
}
.landing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & .main-header-wrapper {
    width: 100%;
    height: 190px;
    position: relative;
    margin: 3.5em 0 6em 0;

    // gear-wheels
    & .wheels-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;

      & .wheel {
        opacity: 0.4;
        height: 180px;
        width: 180px;
        background-image: url("../../../assets/wheel.svg");
        margin: -8px;

        &.wheel1 {
          animation: wheel1 8s infinite linear;
          @keyframes wheel1 {
            0% {
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }

        &.wheel2 {
          animation: wheel2 8s infinite linear;
          @keyframes wheel2 {
            0% {
              transform: rotate(-20deg);
            }
            100% {
              transform: rotate(-380deg);
            }
          }
        }
      }
    }

    & .main-heading {
      opacity: 0.9;
      position: relative;
      color: #f8b75c;
      font-size: 8em;
      font-weight: 900;
      letter-spacing: 6px;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #1b1b1eff;
      text-shadow: #474747 3px 5px 2px, 2px 2px 2px rgba(0, 0, 0, 0);

      // first part of heading (workflow) - arrow from top-left
      &.top::before {
        position: absolute;
        top: -71px;
        left: -89px;
        content: "";
        width: 89px;
        height: 103px;
        background: url("../../../assets/from-top-arrow.svg");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      &.top {
        text-align: center;
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translateX(-50%);
      }

      // second part of heading (builder)
      &.bottom {
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);

        // arrow from right
        &::before {
          position: absolute;
          top: 90%;
          right: -45px;
          transform: translateY(-50%) scaleX(-1);
          content: "";
          background: url("../../../assets/triangle.svg");
          background-size: cover;
          background-position: 50% 50%;
          width: 30px;
          height: 34px;
        }
        // line from right
        &::after {
          position: absolute;
          top: 90%;
          transform: translateY(-50%);
          right: -50vw;
          content: "";
          width: calc(50vw - 30px);
          background-color: #673bb7ff;
          height: 12px;
          background-color: #673bb7ff;
        }
      }
    }
  }

  & .img-wrapper {
    padding: 1.5em;
    border: 8px solid #673bb7ff;
    border-radius: 3px;
    position: relative;

    // line from image to heading (up)
    &::before {
      position: absolute;
      top: -58px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      background-color: #673bb7ff;
      width: 12px;
      height: 56px;
    }
    // line from left to image
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50vw;
      content: "";
      width: calc(50vw - 30px);
      background-color: #673bb7ff;
      height: 12px;
    }

    & img {
      height: 350px;
      width: auto;
    }

    // part of arrow
    & .triangle-from-left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -46px;
      background-image: url("../../../assets/triangle.svg");
      background-size: cover;
      background-position: 50% 50%;
      width: 30px;
      height: 34px;
    }
    & .triangle-to-top {
      position: absolute;
      top: -88px;
      left: 50%;
      transform: translateX(-50%) rotate(-90deg);
      background-image: url("../../../assets/triangle.svg");
      background-size: cover;
      background-position: 50% 50%;
      width: 30px;
      height: 34px;
    }
  }
}
