<div class="landing-wrapper">
    <div class="main-header-wrapper">
        <div class="wheels-wrapper">
            <div class="wheel wheel1"></div>
            <div class="wheel wheel2"></div>
        </div>
        <h1 class="main-heading top">Workflow</h1>
        <h2 class="main-heading bottom">Builder</h2>

    </div>
    <div class="img-wrapper">
        <img src="../../../assets/automate-workflow.png" alt="workflow-image">
        <div class="triangle-to-top"></div>
        <div class="triangle-from-left"></div>
    </div>
</div>