$plump-purple: #673bb7ff;
$carmine: #96031aff;

:host {
  width: 100%;
}
.login-wrapper {
  position: relative;

  & .error-message-wrapper {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    color: $carmine;
  }

  & .form-wrapper {
    max-width: 400px;
    margin: 2em auto;

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em;

      &:hover .arrow {
        opacity: 0.4;
      }

      & .arrow {
        transition: opacity 1s ease-in;
        opacity: 1;
      }

      & .mat-form-field {
        width: 98%;
        margin-bottom: 0.5em;
        margin-bottom: 1em;
        font-size: 1em;

        &.email {
          position: relative;

          // arrows position
          & .arrow-from-top {
            position: absolute;
            top: -70px;
            left: -62px;
          }

          & .arrow-right {
            position: absolute;
            top: 6px;
            right: -63px;
          }
        }

        &.password {
          position: relative;

          // arrow position
          & .arrow-left {
            position: absolute;
            top: 4px;
            left: -60px;
          }
        }
      }

      & .btn-wrapper {
        position: relative;

        & .login-button {
          cursor: pointer;
          padding: 0.4em 1em;
          font-size: 1.2em;
          border: 2px solid $plump-purple;
          color: $plump-purple;
          background-color: white;
          border-radius: 3px;

          &:disabled {
            cursor: not-allowed;
            border: 2px solid #93a8acff;
            color: #93a8acff;
          }
          &:focus {
            outline: 0;
          }
        }

        // arrow position after button
        & .arrow-left-right {
          position: absolute;
          top: 0;
          left: 116px;
        }
      }
    }
  }
}
