<div class="login-wrapper">
    <div class="error-message-wrapper">
        <h3 *ngIf="errorMessage" class="error">{{errorMessage}}</h3>
    </div>
    <div class="form-wrapper">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginHandler()" class="form">
            <mat-form-field class="email">
                <!-- arrow decoration -->
                <div class="arrow-from-top arrow">
                    <img src="../../../assets/from-top-arrow.svg" alt="arrow-image">
                </div>
                <input matInput type="email" name="email" formControlName="email" placeholder="Your email">
                <mat-error *ngIf="email.hasError('required')">Field must not be empty.</mat-error>
                <mat-error *ngIf="!email.hasError('required')">Email is invalid.</mat-error>
                <div class="arrow-right arrow">
                    <img src="../../../assets/right-arrow.svg" alt="arrow-image">
                </div>
            </mat-form-field>
            <mat-form-field class="password">
                <input matInput type="password" name="password" formControlName="password" placeholder="Your password">
                <mat-hint *ngIf="!password.hasError('required') && password.value && password.value.length < 6">
                    Should be at least 6 characters long.
                </mat-hint>
                <mat-error *ngIf="password.hasError('required')">Field must not be empty.</mat-error>
                <div class="arrow-left arrow">
                    <img src="../../../assets/left-arrow.svg" alt="arrow-image">
                </div>
            </mat-form-field>
            <div class="btn-wrapper">
                <button type="submit" mat-raised-button color="accent" [disabled]="loginForm.invalid"
                    class="login-button">
                    {{'Login.LOGIN' | translate}}
                </button>
                <div class="arrow-left-right arrow">
                    <img src="../../../assets/left-to-right.svg" alt="arrow-image">
                </div>
            </div>
        </form>
    </div>
</div>