.footer {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673bb7ff;

  & .footer-text {
    color: #f8f991ff;
    margin: 0;
  }
}
