<mat-dialog-content>
    <p>Are you sure to delete?</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button (click)="close()" color="primary">close</button>
    <button mat-flat-button (click)="onDelete()" color="warn">delete</button>
</mat-dialog-actions>