<div *ngIf="formGrp" [formGroup]="formGrp">
    <mat-form-field appearance="fill" class="select">
        <mat-label [ngClass]="{'asterix--before':required}">{{controlName}}</mat-label>
        <mat-select [formControlName]="controlName">
            <mat-option *ngFor="let item of property.enum" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>