:host {
  width: 100%;
}
.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  & .all-integrations {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: calc(100vh - 222px);
    overflow: auto;
    border-right: 8px solid #673bb7ff;
    background-color: #ece2ff;
    margin-right: 12px;
  }

  & .factory-wrapper {
    flex: 1;
    padding-left: 156px;
    position: relative;
    overflow: hidden;

    & .dragged-wrapper {
      width: 100%;
      display: flex;
    }

    & .error-message {
      color: red;
      font-size: 1.2em;
      font-weight: bold;
      position: absolute;
      top: 0.5em;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: "";
      width: 120px;
      background-color: #673bb7ff;
      height: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 111px;
      background-image: url("../../../assets/triangle.svg");
      background-size: cover;
      background-position: 50% 50%;
      width: 30px;
      height: 34px;
    }

    & .btn-auths {
      position: absolute;
      top: 1em;
      left: 1em;
      padding: 0 2em;
      border-radius: 3px;
    }

    & .action-zone {
      box-sizing: border-box;
      height: calc(100vh - 194px);
      overflow: auto;
      width: 100%;
      border-left: 8px solid #673bb7;
      background-color: #ece2ff;
      padding: 0 3em;

      & .dragged-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      & .dropped-and-form {
        margin-top: 1.4em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .service-wrapper {
          position: relative;

          & .delete-service-btn {
            cursor: pointer;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 3px;
            right: 10px;
            color: #96031aff;
          }
        }
      }
    }
  }
}
