<div class="main-wrapper">
    <!-- folders -->
    <div class="all-integrations">
        <work-integrations></work-integrations>
    </div>
    <div class="factory-wrapper">
        <h5 *ngIf="errorMessage" class="error-message">{{errorMessage}}</h5>
        <!-- show auths button -->
        <button mat-raised-button class="btn-auths" (click)="showAuths()" color="primary">
            <mat-icon>lock_open</mat-icon>
            {{'Flows.AuthBtn' | translate}}
        </button>
        <!-- dropped zone -->
        <div cdkDropList id="flows" [cdkDropListData]="droppedList" cdkDropListConnectedTo="services"
            (cdkDropListDropped)="serviceDropped($event)" class="action-zone">
            <div *ngIf="droppedList" class="dragged-wrapper">
                <div class="dropped-and-form" *ngFor="let droped of droppedList">
                    <div class="service-wrapper">
                        <work-service [serviceName]="droped.name" [service]="droped">
                        </work-service>
                        <div class="delete-service-btn" (click)="deleteService(droped)">
                            <img src="../../../assets/cancel_black_24dp.svg" alt="delete-button">
                        </div>
                    </div>
                    <work-dynamic-form class="dynamic-form"></work-dynamic-form>
                </div>
            </div>
        </div>
    </div>
</div>