<div class="button-wrapper">
    <div class="close-btn" (click)="close()">
        <img src="../../../assets/cancel_black_24dp.svg" alt="close-img">
    </div>
</div>
<work-all-authentications></work-all-authentications>