<div *ngIf="formGr" [formGroup]="formGr">
    <mat-form-field appearance="fill" class="select" *ngIf="authType && !schema.enum?.length">
        <mat-label [ngClass]="{'asterix--before':required}">{{placeholder}}</mat-label>
        <mat-select [formControlName]="controlName">
            <mat-option *ngFor="let item of allCompatibleAuths" [value]="item">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="select" *ngIf="schema.enum?.length && !allCompatibleAuths.length">
        <mat-label [ngClass]="{'asterix--before':required}">{{placeholder}}</mat-label>
        <mat-select [formControlName]="controlName">
            <mat-option *ngFor="let item of schema.enum" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>