<div *ngIf="formGrp" [formGroup]="formGrp" class="form-item">
    <mat-form-field>
        <mat-label class="asterix--before" *ngIf="required">{{controlName}}</mat-label>
        <input matInput [type]="type" [placeholder]="property.title" [formControlName]="controlName">
        <mat-hint *ngIf="property?.title">{{property.title}}</mat-hint>
    </mat-form-field>
</div>