<div class="site-wrapper">
    <header>
        <work-header></work-header>
    </header>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <footer>
        <work-footer></work-footer>
    </footer>
</div>