<div *ngIf="formGr" [formGroup]="formGr" class="form-item">
    <div class="big-hint" *ngIf="showHint && hint && hint.length>30">{{hint}}</div>
    <mat-form-field>
        <mat-label class="asterix--before" *ngIf="required">{{placeholder}}</mat-label>
        <input matInput type="number" [placeholder]="placeholder" [formControlName]="controlName" (focus)='overHint()'
            (focusout)='exitHint()'>
        <mat-hint class="hint" *ngIf="hint">{{trimHint(hint)}}</mat-hint>
    </mat-form-field>
</div>