.asterix--before:before {
  content: "*";
}

.form-item {
  position: relative;

  & .big-hint {
    background-color: #673ab7;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 68px;
    width: 300px;
    text-align: center;
    padding: 1em;
    z-index: 10;

    &::after {
      position: absolute;
      top: -18px;
      left: 50%;
      content: "";
      background: url("../../../../assets/left-to-right.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 30px;
      height: 9px;
      transform: translateX(-50%) rotate(270deg);
      z-index: 12;
    }
  }
}
