:host {
  margin: 2em auto;
}

.create-search-wrapper {
  width: 100%;
  margin: 1em auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 952px;

  & .search-wrapper {
    padding: 0.2em 2em;
    border: 1px solid #673bb7;
    border-radius: 3px;
    width: 658px;

    & .search-form {
      display: flex;
      align-items: center;

      & .form-item {
        margin-right: 2em;
      }
      & .check {
        font-size: 0.6em;
      }
    }
  }

  & .btn-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    & button.btn {
      background-color: #e0e0e0;
      border: 1px solid #673bb7;
      border-radius: 3px;
      position: relative;
      padding: 0 2.5em;

      &:hover .create-btn-img-left {
        transform: rotateZ(360deg);
        transition: all 2s ease-in-out;
      }

      & .create-btn-img-left {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 26%;
        left: 8px;
      }
    }
  }
}

.table {
  width: 100%;
  min-width: 977px;
  border: 2px solid #673bb7;
  border-radius: 3px;

  & .table-btn {
    margin-right: 0.4em;
    // width: 52px;
    height: 33px;
    font-size: 0.8em;
  }

  & .service-img {
    width: 32px;
    height: 32px;
  }
}

th.mat-header-cell,
td.mat-cell {
  text-align: center !important;
}

th.mat-header-cell {
  border-bottom: 1px solid #673bb7;
  background-color: #e0e0e0;
}

td.mat-cell {
  border-right: 1px solid #673bb7;
  padding: 5px 10px;
  &:last-child {
    border-right: none;
    min-width: 200px;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
