<div class="create-search-wrapper">

    <div class="search-wrapper mat-elevation-z3">
        <form [formGroup]="filterForm" class="search-form">
            <mat-form-field class="form-item">
                <mat-label>{{'Auths.SEARCH' | translate}}</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="search" formControlName="search" #input (keyup)="search(input.value)">
            </mat-form-field>
            <mat-checkbox class="form-item check" formControlName="byName" labelPosition="after">
                {{'Auths.BYNAME' | translate}}
            </mat-checkbox>
            <mat-checkbox class="form-item check" formControlName="byDescription" labelPosition="after">
                {{'Auths.BYDESCRIPTYON' | translate}}
            </mat-checkbox>
            <mat-checkbox class="form-item check" formControlName="byUserName" labelPosition="after">
                {{'Auths.BYUSER' | translate}}
            </mat-checkbox>
            <mat-checkbox class="form-item check" formControlName="byService" labelPosition="after">
                {{'Auths.BYSERVICE' | translate}}
            </mat-checkbox>
        </form>
    </div>

    <div class="btn-wrapper">
        <button class="btn mat-elevation-z3" mat-flat-button (click)="createAuth()">
            <span class="create-btn-img-wrapper">
                <img class="create-btn-img-left" src="/assets/wheel.svg" alt="icon">
            </span>
            {{'Auths.CREATE' | translate}}
        </button>
    </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="table mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Auths.TABLE.NAME' | translate}}</th>
        <td mat-cell *matCellDef="let element" justify="center"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="serviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Auths.TABLE.SERVICE' | translate}}</th>

        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.serviceName!==getServiceImgOrName(element.serviceName)">
                <img class="service-img" [src]="getServiceImgOrName(element.serviceName)" alt="service-img">
            </ng-container>
            <ng-container *ngIf="element.serviceName===getServiceImgOrName(element.serviceName)">
                {{element.serviceName}}
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="data.username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Auths.TABLE.USER' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{element.data.username}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Auths.TABLE.DESCRIPTION' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
        <th th mat-header-cell *matHeaderCellDef>
            {{'Auths.TABLE.ACTION' | translate}}
        </th>
        <td mat-cell *matCellDef="let row">
            <button class="table-btn" mat-flat-button color="primary" (click)="editAuth(row)">{{'Auths.EDIT' |
                translate}}</button>
            <button class="table-btn" mat-flat-button color="warn" (click)="deleteAuth(row)">{{'Auths.DELETE' |
                translate}}</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>