.header {
  border-bottom: 8px solid #673bb7ff;
  padding: 10px 0;
  display: flex;
  align-items: center;

  & a {
    text-decoration: none;
    opacity: 0.9;
    color: #fff;
    padding: 0.3em;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;

    &:hover {
      opacity: 1;
    }
  }

  // arrow line
  & .arrow {
    position: relative;
    background-color: #673bb7ff;
    height: 12px;
    width: 5%;

    // left side arrows (from main navigation menu)
    &.to-right {
      margin: 0 30px 0 0px;
      // arrow head (triangle)
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
        background-image: url("../../../assets/triangle.svg");
        background-size: cover;
        background-position: 50% 50%;
        width: 30px;
        height: 34px;
      }
    }

    // right side arrows (from main navigation menu)
    &.to-left {
      margin: 0 0px 0 30px;
      // arrow head (triangle)
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scaleX(-1);
        left: -25px;
        background-image: url("../../../assets/triangle.svg");
        background-size: cover;
        background-position: 50% 50%;
        width: 30px;
        height: 34px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  & .menu {
    height: 100px;
    background-color: #673bb7ff;
    flex: 1;
    margin: 0 20px;
    border-radius: 2px;

    &.main-menu {
      min-width: 200px;
      background-color: #673bb7ff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 3px;

      // language
      & .lang-wrapper {
        position: absolute;
        top: 6px;
        right: 8px;
        display: flex;
        align-items: center;
        padding: 0.2em;

        & .lang-text {
          font-size: 11px;
          background-color: #d1c4e9;
          color: #303030;
          margin: 0;
          border-radius: 3px;
          padding: 0 8px;
        }

        & .language-arrow {
          opacity: 0.7;
          display: block;
          width: 30px;
          height: 8px;
          margin-right: 5px;
        }

        & .selected-lang {
          cursor: pointer;
          // position: absolute;
          // top: 10px;
          // right: 16px;
          width: 28px;
          height: 20px;

          & img {
            border-radius: 3px;
            display: block;
            width: 28px;
            height: 20px;
          }
        }
      }

      // navigation
      & .main-nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;

        & li {
          margin: 0.2em;
        }

        & .logout {
          margin: 0;
          padding: 0.3em;
          opacity: 0.9;
          color: #fff;
          cursor: pointer;
          font-size: 1.4em;
          font-weight: bold;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    // show logged user name
    &.user {
      min-width: 130px;
      max-width: 130px;
      flex: 0, 0, 130px;
      border: 3px solid #673bb7ff;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      & p {
        margin: 0;
        padding: 0;
        color: #673bb7ff;
        font-weight: bold;
      }
    }
  }

  & .logo-wrapper {
    flex-shrink: 0;
    position: relative;
    margin: 0 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 70px;
      height: 70px;
      background-image: url("../../../assets/logo.svg");
      background-repeat: no-repeat;

      animation: logo 16s infinite linear;
      @keyframes logo {
        0% {
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    // not used
    .logo-text-wrapper {
      position: absolute;
      top: 51%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .logo-text {
        color: #673bb7ff;
        font-size: 0.6em;
        // font-weight: 900;
        margin: 0;
        padding: 0;
        line-height: 1.2;
      }
    }
  }
}
