<div class="header-wrapper">
    <header class="header">
        <div class="arrow to-right"></div>
        <div class="logo-wrapper">
            <div class="logo"></div>
            <div class="logo-text-wrapper">
                <h6 class="logo-text">Workflow</h6>
                <h6 class="logo-text">Builder</h6>
            </div>
        </div>
        <div class="arrow to-right"></div>
        <div class="menu main-menu mat-elevation-z3">
            <ul class="main-nav">

                <li>
                    <a routerLink="/">{{'Header.TITLE' | translate}}</a>
                </li>
                <li *ngIf="name">
                    <a routerLink="/main">{{'Header.FLOWS' | translate}}</a>
                </li>
                <li *ngIf="name">
                    <a routerLink="/auth">{{'Header.AUTH' | translate}}</a>
                </li>
                <li *ngIf="!name">
                    <a routerLink="/user/login">{{'Header.LOGIN' | translate}}</a>
                </li>
                <li *ngIf="name" (click)="logOut()">
                    <p class="logout">{{'Header.LOGOUT' | translate}}</p>
                </li>
                <li class="lang">
                    <div class="lang-wrapper">
                        <p class="lang-text">{{'Header.LANGUAGE' | translate}}</p>
                        <img class="language-arrow" src="../../../assets/lang-arrow.svg" alt="change-language-img">
                        <div class="selected-lang mat-elevation-z3" (click)="onLangChange()">
                            <img [src]="img" alt="lang-img">
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="arrow to-left"></div>
        <div class="menu user">
            <p *ngIf="!name">{{'Header.Hello' | translate}}</p>
            <p *ngIf="name">{{'Header.Hi' | translate}}, {{name}}!</p>
        </div>
        <div class="arrow to-left"></div>
    </header>
</div>