/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$plump-purple: #673bb7ff;
$pewter-blue: #93a8acff;
$canary: #f8f991ff;
$raisin-black: #1b1b1eff;
$carmine: #96031aff;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #673bb7ff;
}
