<div class="form-wrapper">
    <form [formGroup]="authServForm" *ngIf="authSchemas.length" (ngSubmit)="onSubmit(authServForm)">
        <div class="first-part">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="name" formControlName='name'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput placeholder="description" formControlName='description'>
            </mat-form-field>
            <mat-form-field>
                <mat-select [(value)]="selected" (selectionChange)="onChange($event.value)" formControlName='service'>
                    <mat-option *ngFor="let authSchemaItem of authSchemas" [value]="authSchemaItem">
                        {{authSchemaItem.serviceName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="dynamyc-form-wrapper" *ngIf="selected">
            <ng-container *ngFor="let prop of selected.schema.properties |keyvalue">
                <work-property-wrapper [controlName]="prop.key" [formGrp]="authServForm" [property]="prop.value"
                    [required]="selected.schema.required">
                </work-property-wrapper>
            </ng-container>
        </div>
        <button mat-flat-button type="submit" [disabled]="authServForm.invalid">{{buttonName}}</button>
        <button mat-flat-button type="reset" (click)="close()">cancel</button>
    </form>
</div>