.service-component {
  cursor: grab;
  width: 190px;
  height: 45px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93a8acff;
  border-radius: 28px;

  & .service-content-wrapper {
    width: 90%;
    display: flex;
    align-items: center;

    & .service-img {
      width: 16px;
      height: 16px;
      margin: 0 1em;
    }
    & p {
      margin: 0;
      padding: 0;
      font-size: 0.9em;
    }
  }
}
