<div cdkDrag class="service-component">
    <div class="service-content-wrapper">
        <img class="service-img" src="../../../assets/wheel.svg" alt="service-image">
        <p>{{serviceName}}</p>
    </div>
</div>