<div class="folders-wrapper">
    <div *ngIf="children.length" class="folder mat-elevation-z3" [ngClass]="showChildren ? 'selected' : 'unselected'"
        (click)="toggleChildren()">
        <p>{{folderName}}</p>
    </div>
    <div class="children" *ngIf="children.length && showChildren">
        <div class="child" *ngFor="let child of children">
            <work-folder *ngIf="!child.service" [folderName]="child.pathName" [children]="child.children"
                (click)="toggleChildrenOfChildren()">
            </work-folder>
            <div class="service" *ngIf="child.service" cdkDropList id="services" [cdkDropListData]="[child.service]"
                cdkDropListConnectedTo="flows">
                <work-service [serviceName]="child.pathName" [service]="child.service"></work-service>
            </div>
        </div>
    </div>

</div>