.folders-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .children {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 3em;

    & .child {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
.unselected {
  background-color: #f8f991ff;
}

.folder {
  cursor: pointer;
  width: 180px;
  height: 45px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #673bb7ff;
  border-radius: 3px;
  box-sizing: border-box;

  &.selected {
    background-color: rgb(253, 166, 52);
    position: relative;
    margin-bottom: 34px;

    &:after {
      position: absolute;
      bottom: -23px;
      left: 50%;
      content: "";
      background: url("../../../assets/left-to-right.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 38px;
      height: 9px;
      transform: translateX(-50%) rotate(90deg);
      z-index: 2;
    }
  }

  & p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #673bb7ff;
    font-weight: bold;
  }
}
